<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.thiagocomputer.diario" version="1.0.0">
	<name>
		Diário
	</name>
	<description>
		Meu Diário.
	</description>
	<author href="http://thiagocomputer.com.br" email="email@email.com ">
		Thiago Computer
	</author>
</widget>